.dashboard-wrapper {
  //width: 90%;
  //height: 800px;
  //margin-top: 20px;
  //margin-left: 20px;
  width: 1800px;
  height: 670px;
  background-color: #FAFBFC;
  border-radius: 10px;
  box-shadow: 0 3px 6px #00000029;
  //margin-top: 20px;
  //padding: 16px;

  .dashboard-iframe {
    width: 100%;
    height: 100%;
  }
}
